includes:
	- ./vendor/nunomaduro/larastan/extension.neon

parameters:
	tmpDir: build/phpstan
	paths:
		- app
		- tests
	level: 1
	ignoreErrors:
	excludes_analyse:
	checkMissingIterableValueType: false
