
$green: #007272;
$blue: #213d7a;
$red: #b33616;
$teal-background: #008b8b;
$teal: #006666;
$yellow: #f1ad00;
$darkgray: #0F121D;
$lightgray: #343a40;
$primary: $teal;
$secondary: $blue;
$font-family-header: 'Open Sans', sans-serif;
$font-family-sans-serif: 'Open Sans', sans-serif;


body{
  font-family: $font-family-sans-serif;
letter-spacing: .09em;
}
h1,h2,h3,.btn,th{}

.btn{
  font-weight:bold;

}

.container{
  max-width: 1500px;
}



/* Dark Theme*/
body.darkTheme{
  background-color: #0F121D;
  p a{
    color:white;
    text-decoration:underline;
  }
  .container{
    color:white;
  }

  .card-header{
    /*background-color: $teal;*/
    background-color: transparent;

    color:white;
  }
  .card{
    background-color:transparent;
    color:white;
  }
}
.grey-background{
  background-color: rgba(255, 255, 255, 0.1);
}
.primary-background{
  background-color: $primary;
}
.primary-content{
  padding: 1rem;
}
// Overall
.container-fluid{
  padding-left:0; padding-right:0;
}
.table .thead-dark th{
  background-color: $teal-background;
}
.table{
  background-color: white;
  color: black;

  a {
    color: $teal;
    //text-decoration: underline;
    border-bottom: 1px solid $teal;
    font-weight:bold;
    &:hover{
      color: $blue;
      text-decoration:none;
      border-bottom: 2px solid $blue;
    }
  }
}

h3{font-size: 1.3rem;}

.primary-content{
  padding: 2rem;
}

.btn{
  padding: 1rem 1.75rem;
  border:none;
  border-radius: .60rem;
  text-decoration:none;
  white-space: auto;
  &:hover{
    border-bottom: none;
  }
}

.btn-sm{
  padding: .25rem .75rem
}
.btn-primary{
  background-color: $teal;
  &:hover{
    background-color: lighten($teal, 5%);
  }
}
.btn-secondary{
  background-color: $blue;
  &:hover{
    background-color: lighten($blue, 5%);
  }
}
.btn-danger{
  background-color: $red;
  &:hover{
    background-color: lighten($red, 5%);
  }
}

.btn.dropdown-toggle{
  padding:.5rem;
}

.alert{
  border-radius: 0;
  border: none;
  margin: 0;
  padding:.5rem;
    text-align: center;
}
.alert-danger{
  background-color: $red;
  color: white;


}

// Header
.heading-alert{
  font-size: .65rem;
      padding: .25rem;
}
.primary-nav{
  background-color: $lightgray;
}
.navbar{

  padding: .2rem .5rem;
}
.navbar-brand{
  font-family: 'Ruslan Display', sans-serif;
}

.header-buttons{
  .header-button{
    text-transform:uppercase;
  /*  &:first-child{
      background-color: $teal;
    }
    &:nth-child(2){
      background-color: $blue;
    }
    &:nth-child(3){
      background-color: $red;
    }*/
  }
}

.secondary-nav{
background-color:$darkgray;
font-size: .8rem;
}

.navbar a, .dropdown a{
  border:none;
  font-weight: normal;
  &:hover{border-bottom: 0;}
}

.header-search-form input{
  font-size: .8rem;
}


//footer
.footer-bottom{
  display:flex;



  align-content: center;

  .footer-info{
    padding-top:1rem;
    padding-bottom: 1rem;
  }

}
.footer-logo{
//  width: 310px;
width: 100%;
  img{
    width: 100%!important;
  }
}
footer .container{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer{
  .primary-content{
    padding: 1rem 2rem;
  }
}
.footer-menu{
  li{
    list-style-type: none;
    a{
      color: white;
      text-decoration: underline;
    }
  }
}

.replay-stats-header{
text-align:center;
font-size: .75rem;
}
.disclaimer{
  text-align:center;
  font-size: .75rem;
}

//homepage
.deathwing_logo{
  max-width:600px;
  margin: 1em auto;
  img{width:100%;}
}

.byline{
text-align:center;
  h3{
    font-size: 1rem;
  }
  padding-bottom: 1rem;

}

.card-group {
  padding: 4rem .5rem;
  .card{
    margin:1em;
    border:none;
    border-radius: 0;
    text-align:center;
    .card-body{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.25rem .25rem;
    }
    .btn{

  }
    .card-header{
      border-radius:0;
      border-bottom:none;
      padding-bottom:0;
      font-weight:bold;
    }
    .card-image{
        font-size: 4rem;
      }

    .btn{
      width:100%;
    }
  }
}


//draft
#draft-hero-wrapper{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size:.8em;
  h4{font-size: .5rem;}
  .popup-trigger{

    border: 1px solid white;
  }
}




.draft-league-info input[type="submit"] {
  border-radius: 13px;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px; }
.draft-league-info label:last-child select {
  border-radius: 0px 13px 13px 0; }

.draft-wrapper {
  display: flex;
  justify-content: space-between; }

.draft-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .8em; }


.draft-section .compare-box {
  width: 80px;
  height: 80px;
  background-size: cover; }
  .draft-section .compare-box .draft-close {
    width: 108px;
    height: 108px;
    display: none;
    background: rgba(255, 255, 255, 0.2);
    justify-content: flex-end;
    font-size: 1.5em;
    padding: 0 .25em;
    box-sizing: border-box;
    cursor: pointer; }
  .draft-section .compare-box:hover .draft-close {
    display: flex; }
  .draft-section .compare-box.disabled {
    opacity: .2; }

.draft-left .compare-box {
  background-color: rgba(33, 61, 122, 0.2); }

.draft-right .compare-box {
  background-color: rgba(179, 54, 22, 0.2); }

.draft-wrapper .all-heroes .hero-picture {
  height: 4em;
  width: 4em; }

.draft-wrapper .all-heroes .hero-wrapper .popup-trigger .popup {
  left: -5em;
  bottom: 6.3em; }
.draft-wrapper .all-heroes .hero-wrapper {
  justify-content: center; }
.draft-wrapper .first-pick {
  background-color: rgba(179, 54, 22, 0.5);
  border-radius: .5em;
  padding: .2em;
  text-align: center; }
  .draft-wrapper .first-pick.disabled {
    opacity: .2; }
.draft-wrapper .draft-left .first-pick {
  background-color: #213d7a; }

.draft-bans {
  display: flex;
  justify-content: space-between; }

.draft-single-ban.compare-box {
  width: 5em;
  height: 5em;
  background-size: cover; }

.draft-league-info form {
  /*
    flex-direction:column;

  select{
    font-size: 1em;
    width: 100%;
    display: block;
    border: 1px solid lightgray;
    padding: 1em 1.4em;
    -webkit-appearance: none;
    font-weight: 600;
    margin-top: .5em;
    cursor: pointer;
    background-color: #213d7a;
    color: white;
    border-radius: 10px;
    width: 0;
      position: relative;
      width: auto;
      background-color: rgba(255, 255, 255, 0.1);
      border: 16px;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      padding: .2em .2em 0;
      box-shadow: 0.1em 0.1em 0.4em black;
      font-family: 'Ruslan Display';
      font-size:2em;
  }
  */ }

.draft-info-section {
  display: flex;
  justify-content: space-between;
  align-items: center; }

  .draft-hero-picker{
    display:flex;
  }
