
$green: #007272;
$blue: #213d7a;
$red: #b33616;
$teal-background: #008b8b;
$teal: #006666;
$yellow: #f1ad00;
$darkgray: #0F121D;
$primary: $green;
$secondary: $blue;
$font-family-header: 'Open Sans', sans-serif;
$font-family-sans-serif: 'Open Sans', sans-serif;


body{
  font-family: $font-family-sans-serif;
letter-spacing: .09em;
}
h1,h2,h3,.btn,th{}

.btn{
  font-weight:bold;

}


// Overall
.container-fluid{
  padding-left:0; padding-right:0;
}
.table .thead-dark th{
  background-color: $teal-background;
}

a {
  color: $teal;
  //text-decoration: underline;
  border-bottom: 1px solid $teal;
  font-weight:bold;
  &:hover{
    color: $blue;
    text-decoration:none;
    border-bottom: 2px solid $blue;
  }
}


// Header
.navbar{

  padding: .2rem .5rem;
}
.navbar-brand{
  font-family: 'Ruslan Display', sans-serif;
}

.header-buttons{
  .header-button{
    text-transform:uppercase;
  /*  &:first-child{
      background-color: $teal;
    }
    &:nth-child(2){
      background-color: $blue;
    }
    &:nth-child(3){
      background-color: $red;
    }*/
  }
}

.secondary-nav{
background-color:$darkgray;
font-size: 80%;
}

.navbar a, .dropdown a{
  border:none;
  font-weight: normal;
  &:hover{border-bottom: 0;}
}

.header-search-form input{
  font-size: 80%;
}
