
$green: #007272;
$blue: #213d7a;
$red: #b33616;
$teal-background: #008b8b;
$teal: #006666;
$yellow: #f1ad00;
$darkgray: #0F121D;
$lightgray: #343a40;
$primary: $teal;
$secondary: $blue;
$font-family-header: 'Open Sans', sans-serif;
$font-family-sans-serif: 'Open Sans', sans-serif;


@media(screen and min-width: 2500px){
html{  font-size: 20px;
}
}

body{
  font-family: $font-family-sans-serif;
letter-spacing: .09em;
}
h1,h2,h3,.btn,th{}

.btn{
  font-weight:bold;

}

.container{
  max-width: 1500px;
}



/* Dark Theme*/
body.darkTheme{
  background-color: #0F121D;
  p a{
    color:white;
    text-decoration:underline;
  }
  .container{
    color:white;
  }

  .card-header{
    /*background-color: $teal;*/
    background-color: transparent;

    color:white;
  }
  .card{
    background-color:transparent;
    color:white;
  }
}
.grey-background{
  background-color: rgba(255, 255, 255, 0.1);
}
.primary-background{
  background-color: $primary;
}
.primary-content{
  padding: 1rem;
}
// Overall
.container-fluid{
  padding-left:0; padding-right:0;
}
.table .thead-dark th{
  background-color: $teal-background;
}
.table{
  background-color: white;
  color: black;

  a {
    color: $teal;
    //text-decoration: underline;
    border-bottom: 1px solid $teal;
    font-weight:bold;
    &:hover{
      color: $blue;
      text-decoration:none;
      border-bottom: 2px solid $blue;
    }
  }
}

h3{font-size: 1.3rem;}

.primary-content{
  padding: 2rem;
}

.btn{
  padding: 1rem 1.75rem;
  border:none;
  border-radius: .60rem;
  text-decoration:none;
  white-space: auto;
  &:hover{
    border-bottom: none;
  }
}

.btn-sm{
  padding: .25rem .75rem
}
.btn-primary{
  background-color: $teal;
  &:hover{
    background-color: lighten($teal, 5%);
  }
}
.btn-secondary{
  background-color: $blue;
  &:hover{
    background-color: lighten($blue, 5%);
  }
}
.btn-danger{
  background-color: $red;
  &:hover{
    background-color: lighten($red, 5%);
  }
}

.btn.dropdown-toggle{
  padding:.5rem;
}

.alert{
  border-radius: 0;
  border: none;
  margin: 0;
  padding:.5rem;
    text-align: center;
}
.alert-danger{
  background-color: $red;
  color: white;


}

// Header
.heading-alert{
  font-size: .65rem;
      padding: .25rem;
}
.primary-nav{
  background-color: $lightgray;
}
.navbar{

  padding: .2rem .5rem;
}
.navbar-brand{
  font-family: 'Ruslan Display', sans-serif;
}

.header-buttons{
  .header-button{
    text-transform:uppercase;
  /*  &:first-child{
      background-color: $teal;
    }
    &:nth-child(2){
      background-color: $blue;
    }
    &:nth-child(3){
      background-color: $red;
    }*/
  }
}

.secondary-nav{
background-color:$darkgray;
font-size: .8rem;
}

.navbar a, .dropdown a{
  border:none;
  font-weight: normal;
  &:hover{border-bottom: 0;}
}

.header-search-form input{
  font-size: .8rem;
}


//footer
.footer-bottom{
  display:flex;



  align-content: center;

  .footer-info{
    padding-top:1rem;
    padding-bottom: 1rem;
  }

}
.footer-logo{
//  width: 310px;
width: 100%;
  img{
    width: 100%!important;
  }
}
footer .container{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer{
  .primary-content{
    padding: 1rem 2rem;
  }
}
.footer-menu{
  li{
    list-style-type: none;
    a{
      color: white;
      text-decoration: underline;
    }
  }
}




section{
  max-width: 1500px;
  margin-left:auto;
  margin-right: auto;
}




.search-menu{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  .dropdown{
    margin: .5rem;
  }
}



.replay-stats-header{
text-align:center;
font-size: .75rem;
}
.disclaimer{
  text-align:center;
  font-size: .75rem;
}

//homepage
.deathwing_logo{
  max-width:600px;
  margin: 1em auto;
  img{width:100%;}
}

.byline{
text-align:center;
  h3{
    font-size: 1rem;
  }
  padding-bottom: 1rem;

}

.card-group {
  padding: 4rem .5rem;
  .card{
    margin:1em;
    border:none;
    border-radius: 0;
    text-align:center;
    .card-body{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.25rem .25rem;
    }
    .btn{

  }
    .card-header{
      border-radius:0;
      border-bottom:none;
      padding-bottom:0;
      font-weight:bold;
    }
    .card-image{
        font-size: 4rem;
      }

    .btn{
      width:100%;
    }
  }
}



.rounded-picture{
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  display: block;
  overflow: hidden;
  img{width:100%;}
  &:hover{
  box-shadow: 0.2em 0.1em .5em black;
  }
}
.rounded-item-wrapper{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.rounded-item-wrapper .rounded-picture{
  margin: .5rem;
}

.rounded-item{
  position:relative;
}
.rounded-item.starred::before{
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  position:absolute;
  left:0;
  top:0;
  font-size:1.5em;
  font-weight: 900;
  color:gold;
}

.highlight-player {
    box-shadow: 0em 0em 0.5em #ffd051;
}


#draft-hero-wrapper{
  .rounded-picture{
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
  }
}

.draft-hero-picker{
display:flex;
}



.draft-section .compare-box {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  background-size: cover;
  margin: .5rem;
  border: 1px solid gray
}

.draft-section .draft-bans .compare-box{
width: 4rem;
height: 4rem;
}
  .draft-section .compare-box .draft-close {
    width: 108px;
    height: 108px;
    display: none;
    background: rgba(255, 255, 255, 0.2);
    justify-content: flex-end;
    font-size: 1.5em;
    padding: 0 .25em;
    box-sizing: border-box;
    cursor: pointer; }
  .draft-section .compare-box:hover .draft-close {
    display: flex; }
  .draft-section .compare-box.disabled {
    opacity: .2; }

.draft-left .compare-box {
  background-color: rgba(33, 61, 122, 0.2); }

.draft-right .compare-box {
  background-color: rgba(179, 54, 22, 0.2); }



  .draft-bans{

    border: 1px solid gray;
    border-radius: 1rem;
    padding: .5rem;
    color: white;
    font-size: .8em;
    text-transform: uppercase;
  }


  .flex-space-around{
    display:flex;
    justify-content: space-around;
  }


  .draft-right{ margin-left: auto;

    .hero-ban-wrapper{
      .compare-box{margin-left: auto;}
    }

  }



  .role-wrapper{
    display:flex;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    .rounded-item{
      width: 3rem;
      img{width: 100%;}
    }
  }

  .all-heroes-search{
    margin-left:auto;
    margin-right:auto;
    width: 15rem;
  }

  .draft-hero-picker{
    margin-top: 2em;
  }


  .pick-label-wrapper{
    display:flex;
    justify-content:center;
    color:white;
    .pick-label{
      color:white;
      display:block;
      margin:1em;
      input{
        margin-right:.5em;
      }
    }
  }
  .draft-setup-form{
    text-align: center;
  }

  #draft-setup-form{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 5em;
   #submit-draft{
      margin-left:auto;
      margin-right:auto;
    }
  }

  .hero-category-wrapper{width:100%;}
