.stat-section{
  display:flex;
  width:100%;
  flex-wrap:wrap;



  .statbox{
    //min-width:30%;
    flex-grow:1;

  }
}



.individual-section {
  display:flex;
  flex-wrap:wrap;

  margin-bottom:.5em;
  &:nth-child(4n+1){.progress-bar{background-color: $blue;}}
  &:nth-child(4n+2){.progress-bar{background-color: $cyan;}}
  &:nth-child(4n+3){.progress-bar{background-color: $red;}}
  &:nth-child(4n+4){.progress-bar{background-color: $yellow;}}
.progress-bar{text-align:left; padding-left:.5em;}
.stat-bar-title{ font-size:1rem; width:100%; max-width: 40%; text-align:right; padding-right:.5em;}

 .mb-3{flex-grow:1;
 height:2em;

margin-top:auto;
margin-bottom:auto!important;}

 .rounded-circle{
   width:2em;
   margin-right:.5em;
 }
}
