@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ruslan+Display&display=swap');



html{background-color:lightgrey; font-family: 'Open Sans', sans-serif; box-sizing:border-box;}

.expandable-dropdown {
  min-width: 150px;  /* Adjust based on your needs */
  width: auto;
}

.filter-label{
  color:black;
}

body{
  font-size:18px;
  letter-spacing: .14em;
}



/* Navigation */
.nav-dropdown{
  @apply absolute  left-0 hidden  z-50 md:pt-3  min-w-[200px] max-md:relative;
}
.nav-dropdown a{
  text-wrap:nowrap;
  display:flex;
  white-space:nowrap;
  max-md:flex-col;
}

.nav-item{
  padding-top:10px; 
  padding-bottom:10px;
  @apply max-md:w-full text-center;
}
.nav-dropdown-inner-wrapper{
  @apply bg-blue   text-sm drop-shadow ;
}

@media (min-width:768px){
  .nav-item:not(:first-child)::before{
   content: '|';
   padding-right:20px;
   height:100%;
   font-size:1.5em;
  }
  .nav-dropdown{
      @apply group-hover:block;
  }
  .nav-dropdown-inner-wrapper{
     @apply rounded-b-lg rounded-tr-lg;
    }

.alt-acct-nav .nav-dropdown-inner-wrapper{
  @apply  rounded-tl-lg rounded-tr-none ;
}
.nav-dropdown-inner-wrapper a:last-child{
  @apply rounded-b-lg;
}
.nav-dropdown-inner-wrapper a:first-child{
  @apply rounded-tr-lg;
}
.alt-acct-nav .nav-dropdown-inner-wrapper a:first-child{
   @apply rounded-tl-lg rounded-tr-none;
}

}


.nav-dropdown a{
  @apply block px-4 py-2 md:border-b md:border-darken hover:bg-lighten;
}

@media (max-width:768px){
 
    .main-navigation-wrapper{
      @apply min-h-[100vh] absolute w-full hidden ;
    }
    .main-navigation-wrapper nav{
      @apply min-h-[100vh]  flex-col ;
    }
    .nav-item{
      @apply border-b border-white;
    }
    .nav-dropdown a{
     @apply border-t border-white;
    }
    .nav-dropdown:not(.nav-dropdown-secondary-nav){
      @apply mt-4;
    }
    .alt-acct-nav .nav-dropdown-inner-wrapper{
        @apply rounded-none;
    }
  }



/*  end navigation */
.search-input{
  @apply rounded p-2;
}

table{
  width:auto ;
  @apply bg-gray-light text-black;
  min-width:1500px;
  width: 1500px;
  margin-left:auto;
  margin-right:auto;
 
}

tr{
@apply even:bg-gray-xlight ;
}
tr.bg-hred{
  background-color: rgba(214, 142, 124, 0.5);
}
tr.bg-yellow{
  background-color: #d98c40;
}


th{
  @apply text-left text-sm leading-4  tracking-wider cursor-pointer py-1 px-3 border-b;
}

td{
  @apply py-2 px-3 ;
  border-right: 1.5px solid rgb(203 203 203 / var(--tw-bg-opacity));

}
td:last-child{border-right:none;}
thead{
  @apply bg-teal text-white ;
}
thead tr{
  @apply py-3;
}

h1{
  text-transform:uppercase;
  @apply text-5xl;
}



.search-input {
  color: black; /* Replace 'black' with any color you prefer */
}



.popup-arrow{


   
    width: 0;
    height: 0;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-top: .5em solid #333;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    
    

}


/* Menu */

.drop-menu{

}



/* Stack */

.stack-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stack-single {
  width: 5em;
  display: flex;
}

.stack-single.stack-solo {
  width: 2em;
  margin-left: 0.5em;
}

.stack-single.stack-solo:first-child {
  margin-left: 0;
}

.stack-single.stack-double {
  width: 3em;
  margin-left: 0.5em;
}

.stack-single.stack-double:first-child {
  margin-left: 0;
}

.stack-single.stack-triple,
.stack-single.stack-quad,
.stack-single.stack-quint {
  width: 6em;
}

.stack-single.stack-triple:first-child {
  width: 4.5em;
}

.stack-text {
  margin-right: auto;
}

.stack-icons {
  display: flex;
  flex-basis: 13.5em;
}

.stack-header {
  display: flex;
  flex-wrap: wrap;
  font-size:1.5em;
  align-items:center;

}

.stack-header .stack-wrapper {
  margin: 0 1em;
}

.stack-header .stack-wrapper .stack-single {
  width: auto !important;
}

.quintuple {
  color: black;
  text-shadow: 0px 0px 2px grey;
}

.solo {
  /*text-shadow: 0px 0px 2px $lightBlue;*/
}



.solo,.double,.triple,.quadruple,.quintuple{
  margin:0 0;

}

.solo{
  
   @apply text-blue;


}
.double{
 @apply  text-red;
  
}
.triple{
  @apply text-teal;

}
.quadruple{
  @apply text-yellow;
}

.compare-selection-box:nth-child(1n) .compare-selection-title{
  
    @apply bg-blue;
  
}
.compare-selection-box:nth-child(2n) .compare-selection-title{
  
    @apply bg-teal;
  
}
.compare-selection-box:nth-child(3n) .compare-selection-title{
  
    @apply bg-red;
  
}
.compare-selection-box:nth-child(4n) .compare-selection-title{
  
    @apply bg-yellow;
  
}



.flash-animation {
  animation: flash 0.5s;
}

@keyframes flash {
  0% { background-color: transparent; }
  50% { background-color: #008b8b; }
  100% { background-color: transparent; }
}

.flash {
  animation: flash 1s;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}


.match-page table{
  @apply table-fixed;
  width:100%;

}
.match-page table td{
  width:16%;
}
.match-page table.loser thead td:not(.color-cell){
  @apply bg-red;
}
.match-page table.winner thead td:not(.color-cell){
  @apply bg-teal;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}



a[href*="javascript:void(0)"] {
  cursor: auto;
}

