@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ruslan+Display&display=swap');



html{background-color:lightgrey; font-family: 'Open Sans', sans-serif; box-sizing:border-box;}

.expandable-dropdown {
  min-width: 150px;  /* Adjust based on your needs */
  width: auto;
}

.filter-label{
  color:black;
}

body{
  font-size:18px;
}

.search-input{
  @apply rounded p-2;
}

table{
  width:100% ;
  @apply bg-gray-light text-black;
 
}

tr{
@apply even:bg-gray-md;
}
th{
  @apply text-left text-sm leading-4  tracking-wider cursor-pointer py-1 px-3;
}

td{
  @apply py-1 px-3  ;
}
thead{
  @apply bg-teal text-white ;
}
thead tr{
  @apply py-3;
}

h1{
  text-transform:uppercase;
  @apply text-5xl;
}
.page-heading{

  @apply flex py-10 px-20 items-center gap-20 bg-teal;
  color:black;
  width:100% ;
}