@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ruslan+Display&display=swap');



html{background-color:lightgrey; font-family: 'Open Sans', sans-serif; box-sizing:border-box;}

.expandable-dropdown {
  min-width: 150px;  /* Adjust based on your needs */
  width: auto;
}

.filter-label{
  color:black;
}

body{
  font-size:18px;
  letter-spacing: .14em;
}

.search-input{
  @apply rounded p-2;
}

table{

  

  width:auto ;
  @apply bg-gray-light text-black;
  min-width:1500px;
  margin-left:auto;
  margin-right:auto;
 
}

tr{
@apply even:bg-gray-md border-b;
}
th{
  @apply text-left text-sm leading-4  tracking-wider cursor-pointer py-1 px-3 border-b;
}

td{
  @apply py-2 px-3 ;
  border-right: 1.5px solid rgb(203 203 203 / var(--tw-bg-opacity));

}
td:last-child{border-right:none;}
thead{
  @apply bg-teal text-white ;
}
thead tr{
  @apply py-3;
}

h1{
  text-transform:uppercase;
  @apply text-5xl;
}



.search-input {
  color: black; /* Replace 'black' with any color you prefer */
}



.popup-arrow{


   
    width: 0;
    height: 0;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-top: .5em solid #333;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    
    

}


/* Menu */

.drop-menu{

}