/**************************************/
/**************** Root ****************/
/**************************************/
:root {
    --sidebar: #F7F7FC;
    --documentation: #FFFFFF;
    --navbar: #FFFFFF;
    --search: #FFFFFF;
    --primary: #FF817A;
    --secondary: #2b9cf2;
}

html, body {
    color: #535357;
    background-color: var(--documentation);
}

.medium-zoom-overlay {
    background-color: var(--documentation) !important;
}

.bg-gradient-primary {
  background: linear-gradient(87deg, #FF817A 0, #FF817A 100%) !important;
}
/**************************************/

/*************** Sidebar **************/

/**************************************/

.sidebar {
  background-color: var(--sidebar);
  border:0;
  width: 30%;
  position: fixed;
  z-index: 10;
  font-size: 1rem;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: 4rem;
  overflow-y: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sidebar.is-hidden {
  left: -30%;
}

.sidebar > ul {
  padding: 0;
  width: 50%;
  float:right;
}

.sidebar > ul > li > h2 {
  padding: 1.25rem;
  color: #090910;
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 0;
}

.sidebar > ul > li > ul {
  padding: 0;
  line-height: 2.25;
}

.sidebar > ul > li > ul > li.is-active {
  padding-left: .5rem;
}

.sidebar > ul > li > ul > li.is-active::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 100;
  width: 2px;
  height: 35px;
  background: var(--primary);
}

.sidebar > ul > li > ul > li.is-active a {
  font-weight: 700;
}

.sidebar > ul > li > ul > li.is-active > ul > li {
  margin-left: -0.5rem;
}

.sidebar > ul > li > ul > li.is-active > ul > li a {
  font-weight: 400;
  font-size: .875em;
}

.sidebar > ul > li > ul > li > a {
  font-size: .875em;
  font-weight: 600;
  color: #090910;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  display: block;
  -webkit-transition: padding-left .3s;
  transition: padding-left .3s;
}

.sidebar > ul > li > ul > li a:hover {
  padding-left: 2.25rem;
}

.sidebar > ul > li > ul > li ul {
  padding: 0;
}

.sidebar > ul > li > ul > li ul > li > a {
  padding-left: 2.3rem;
  color: #090910;
  font-size: .875em;
}

.sidebar > ul > li > ul > li ul > li.is-active {
  border-left-width: 0;
}

.sidebar > ul > li > ul > li ul > li.is-active a {
  font-weight: 400;
}
.sidebar > ul > li > ul > li ul > li.is-active a::before {
  content: '\25CF';
  color: #ff2d1f;
  margin-left: -1.5rem;
  padding-right: 0.8rem;
}

/**************************************/

/********** Documentation *************/

/**************************************/
.documentation {
    font-size: .875em;
    font-weight: 300;
    width: 50%;
    margin-left: 18%;
}

.documentation > ul:first-of-type {
  position: relative;
  padding: 1rem;
  list-style: none;
  padding: 0;
  top: 0;
  width: 100%;
}

.documentation > ul:first-of-type li {
  border-bottom-width: 0px;
  line-height: .5;
  padding: .75rem;
  margin-left: 2.3rem;
}

.documentation > ul:first-of-type li a {
  font-size: .875rem;
  font-weight: 600;
  text-decoration: none;
  color: #0A0A10;
}

.documentation > ul:first-of-type li a::before {
  content: "#";
  margin-left: -1rem;
  position: absolute;
  font-size: 1rem;
  color: #ff2d1f;
  opacity: .75;
}

.documentation h1:first-of-type {
  border-left-width: 4px;
  border-color: #ff2d1f;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #0A0A10;
}

.documentation hr {
  border-top-width: 2px;
  border-style: dashed;
  border-color: #d3dde5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.documentation h2 a,
.documentation h2 a:hover {
  color: #0A0A10;
  font-size: 1.6rem;
  font-weight: 300;
}

.documentation h2 a:before {
  margin-left: -1.5rem;
  color: #ff2d1f;
  margin-top: 0;
  font-size: 1.6rem;
}

.documentation h3 {
  font-weight: 600;
}

.documentation a {
  color: #EC0D00;
  text-decoration: underline;
}

.documentation.is-light :not(pre) > code[class*="language-"],
.documentation.is-light pre[class*="language-"] {
  background: #FBFBFD;
  padding: 20px;
}
